@model int

<a class="btn btn-outline-dark position-relative" href="/cart/index" role="button" style="margin-right: 4px; margin-top: 5px; margin-bottom: 5px">
    Корзина <i class="fas fa-shopping-cart"></i>
    @if (Model != 0)
    {
        <span class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle badge-hover" style="background-color:crimson; font-size: 0.75rem; padding: 0.2rem 0.4rem; min-width: 1rem;">@Model</span>
    }
</a>