<div class="col-2 list-group-flush">
    <a class="list-group-item" asp-area="Admin" asp-controller="Order" asp-action="Orders">Заказы </a>
    <a class="list-group-item" asp-area="Admin" asp-controller="User" asp-action="Users">Пользователи </a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Role" asp-action="Roles">Роли </a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Product" asp-action="Products">Продукты </a>
</div>